
.combo-box{
    -fx-border-color:#E6E6E6;
    -fx-border-style:solid;
    -fx-border-width:1;
}
.combo-box .arrow{
    -fx-background-color:#2478E9;
}
.combo-box .arrow-button{
    -fx-background-color:black;
    -fx-border-style:none;
}
.combo-box .arrow-button{
    -fx-background-color:white;
}
